<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Index</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<div class="contenedor">
		<header>
			<nav>
				<ul>
					<li><a href="">Inicio</a></li>
					<li><a href="">Acerca de</a></li>
					<li><a href="">Productos</a></li>
					<li><a href="">Contacto</a></li>
				</ul>
			</nav>
		</header>

		<section class="main">
			<div class="imagen">
				<img src="img/bg.jpg" alt="">
			</div>
			<section class="posts">
				<article>
					<h2>Titulo de articulo</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio aliquid labore asperiores! Reiciendis adipisci nulla sint voluptatibus quidem. Doloremque totam quos nemo dolorem illo ab quam, itaque quibusdam repellendus nesciunt!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum odio dolorem temporibus laudantium sunt, a eum sequi esse ad nobis harum quidem architecto deserunt asperiores, ab molestias fugit doloribus facilis.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum cupiditate nihil culpa quos! Odio dignissimos autem nostrum excepturi odit minima inventore accusamus harum vero ipsa. Voluptatibus quaerat perferendis distinctio. Minima.
					</p>
				</article>
			</section>
		</section>

		<aside>
			<div class="widget">
				<h3 class="titulo">Articulos destacados</h3>
				<ul>
					<li><a href="">Lorem ipsum dolor sit amet</a></li>
					<li><a href="">Lorem ipsum dolor sit amet</a></li>
					<li><a href="">Lorem ipsum dolor sit amet</a></li>
					<li><a href="">Lorem ipsum dolor sit amet</a></li>
					<li><a href="">Lorem ipsum dolor sit amet</a></li>
				</ul>
			</div>

			<div class="widget">
				<h3 class="titulo">Informacion</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel praesentium recusandae itaque beatae eos, tempora aliquid facilis numquam, soluta. Rem eum, cumque tenetur voluptate repellat obcaecati reiciendis. Omnis, repudiandae! Sint.</p>
			</div>
		</aside>

		<footer>
			Hecho por Enrique Alvarez Barajas
		</footer>
	</div>
</body>
</html>